h1 {
    color: green;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.post_header2{
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    position:relative;
    color:#fff;
    height:48vh;
    min-height:120px;
    max-height:160px;
    background-color:var(--bg);
    margin-top:60px;
    padding:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column}
    
.post_header2::after{
    content:"";
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    z-index:1;
    background:rgba(10,15,30,0.5)}
    
.post_header2 h1{color:inherit}

.post_header2 h1,

.post_header2 p,

.post_header2 h4{position:relative;z-index:2}

body{
    background-color: rgb(31, 29, 29)
}
.post_ext{
    max-width:100%;
    font-family: "Helvetica", "Helvetica", monospace;
    font-size: 14pt;
    color: rgb(202, 202, 202);
}

.col{
    float: left;
    width: 50%;
    margin: auto;
}
.row{
    width: 80%;
    margin: auto
}
.row::after{
    display:block;
    content:"";
    clear:both;
}


@-webkit-keyframes glowing {
    0% { stroke: #9eacc9; -webkit-box-shadow: 0 0 3px #9eacc9  !important; }
    50% { background-color: #b71a3b; -webkit-box-shadow: 0 0 40px #b71a3b  !important; }
    100% { background-color: #9eacc9; -webkit-box-shadow: 0 0 3px #9eacc9  !important; }
    
    0% { stroke: #9eacc9; -webkit-box-shadow: 0 0 3px #9eacc9  !important; }
    50% { stroke: #b71a3b; -webkit-box-shadow: 0 0 40px #b71a3b  !important; }
    100% { stroke: #9eacc9; -webkit-box-shadow: 0 0 3px #9eacc9  !important; }
  }
  
  @-moz-keyframes glowing {
    0% { background-color: #9eacc9; -webkit-box-shadow: 0 0 3px #9eacc9  !important; }
    50% { background-color: #b71a3b; -webkit-box-shadow: 0 0 40px #b71a3b  !important; }
    100% { background-color: #9eacc9; -webkit-box-shadow: 0 0 3px #9eacc9  !important; }
    
    0% { stroke: #9eacc9; -webkit-box-shadow: 0 0 3px #9eacc9  !important; }
    50% { stroke: #b71a3b; -webkit-box-shadow: 0 0 40px #b71a3b  !important; }
    100% { stroke: #9eacc9; -webkit-box-shadow: 0 0 3px #9eacc9  !important; }
  }
  
  @-o-keyframes glowing {
    0% { background-color: #9eacc9; -webkit-box-shadow: 0 0 3px #9eacc9  !important; }
    50% { background-color: #b71a3b; -webkit-box-shadow: 0 0 40px #b71a3b  !important; }
    100% { background-color: #9eacc9; -webkit-box-shadow: 0 0 3px #9eacc9  !important; }
    
    0% { stroke: #9eacc9; -webkit-box-shadow: 0 0 3px #9eacc9  !important; }
    50% { stroke: #b71a3b; -webkit-box-shadow: 0 0 40px #b71a3b  !important; }
    100% { stroke: #9eacc9; -webkit-box-shadow: 0 0 3px #9eacc9  !important; }
  }
  
  @keyframes glowing {
    0% { background-color: #9eacc9; -webkit-box-shadow: 0 0 3px #9eacc9  !important; }
    50% { background-color: #b71a3b; -webkit-box-shadow: 0 0 40px #b71a3b  !important; }
    100% { background-color: #9eacc9; -webkit-box-shadow: 0 0 3px #9eacc9  !important; }
    
    0% { stroke: #9eacc9; -webkit-box-shadow: 0 0 3px #9eacc9  !important; }
    50% { stroke: #b71a3b; -webkit-box-shadow: 0 0 40px #b71a3b  !important; }
    100% { stroke: #9eacc9; -webkit-box-shadow: 0 0 3px #9eacc9  !important; }
  }
  
  .custom-header {
    fill: rgb(31, 29, 29);
    stroke-width: 1px;
    -webkit-animation: glowing 5500ms infinite !important;
    -moz-animation: glowing 5500ms infinite  !important;
    -o-animation: glowing 5500ms infinite  !important;
    animation: glowing 5500ms infinite  !important;
  }
  .custom-header-simple {
    fill: rgb(31, 29, 29);
    stroke-width: 1px;
    /* -webkit-animation: glowing 5500ms infinite !important;
    -moz-animation: glowing 5500ms infinite  !important;
    -o-animation: glowing 5500ms infinite  !important;
    animation: glowing 5500ms infinite  !important; */
  }

  .custom-header-selected {
    fill: rgb(31, 29, 29);
    stroke-width: 5px;
    /* -webkit-animation: glowing 5500ms infinite !important;
    -moz-animation: glowing 5500ms infinite  !important;
    -o-animation: glowing 5500ms infinite  !important;
    animation: glowing 5500ms infinite  !important; */
  }


  @-webkit-keyframes glowing_line {
    0% { stroke: #491d88; -webkit-box-shadow: 0 0 3px #491d88  !important; }
    50% { background-color: #b71a3b; -webkit-box-shadow: 0 0 40px #b71a3b  !important; }
    100% { background-color: #491d88; -webkit-box-shadow: 0 0 3px #491d88  !important; }
    
    0% { stroke: #491d88; -webkit-box-shadow: 0 0 3px #491d88  !important; }
    50% { stroke: #b71a3b; -webkit-box-shadow: 0 0 40px #b71a3b  !important; }
    100% { stroke: #491d88; -webkit-box-shadow: 0 0 3px #491d88  !important; }
  }
  
  @-moz-keyframes glowing_line {
    0% { background-color: #491d88; -webkit-box-shadow: 0 0 3px #491d88  !important; }
    50% { background-color: #b71a3b; -webkit-box-shadow: 0 0 40px #b71a3b  !important; }
    100% { background-color: #491d88; -webkit-box-shadow: 0 0 3px #491d88  !important; }
    
    0% { stroke: #491d88; -webkit-box-shadow: 0 0 3px #491d88  !important; }
    50% { stroke: #b71a3b; -webkit-box-shadow: 0 0 40px #b71a3b  !important; }
    100% { stroke: #491d88; -webkit-box-shadow: 0 0 3px #491d88  !important; }
  }
  
  @-o-keyframes glowing_line {
    0% { background-color: #491d88; -webkit-box-shadow: 0 0 3px #491d88  !important; }
    50% { background-color: #b71a3b; -webkit-box-shadow: 0 0 40px #b71a3b  !important; }
    100% { background-color: #491d88; -webkit-box-shadow: 0 0 3px #491d88  !important; }
    
    0% { stroke: #491d88; -webkit-box-shadow: 0 0 3px #491d88  !important; }
    50% { stroke: #b71a3b; -webkit-box-shadow: 0 0 40px #b71a3b  !important; }
    100% { stroke: #491d88; -webkit-box-shadow: 0 0 3px #491d88  !important; }
  }
  
  @keyframes glowing_line {
    0% { background-color: #491d88; -webkit-box-shadow: 0 0 3px #491d88  !important; }
    50% { background-color: #b71a3b; -webkit-box-shadow: 0 0 40px #b71a3b  !important; }
    100% { background-color: #491d88; -webkit-box-shadow: 0 0 3px #491d88  !important; }
    
    0% { stroke: #491d88; -webkit-box-shadow: 0 0 3px #491d88  !important; }
    50% { stroke: #b71a3b; -webkit-box-shadow: 0 0 40px #b71a3b  !important; }
    100% { stroke: #491d88; -webkit-box-shadow: 0 0 3px #491d88  !important; }
  }
  
  .glowing_line_main{
    /* fill: white; */
    stroke-width: 5px;
    -webkit-animation: glowing_line 2000ms infinite !important;
    -moz-animation: glowing_line 2000ms infinite  !important;
    -o-animation: glowing_line 2000ms infinite  !important;
    animation: glowing_line 2000ms infinite  !important;
  }


  line.crisp {
              shape-rendering: crispEdges;
  }

rect{
  /* fill: rgb(31, 29, 29); */
}
.stroke_text{
    font-family: "Helvetica", "Helvetica", monospace;
    font-size: 24pt;
    fill: rgb(202, 202, 202);
}
.nn_text{
    font-family: "Helvetica", "Helvetica", monospace;
    font-size: 16px;
    fill: rgb(202, 202, 202);
    color: rgb(202, 202, 202);
    word-break: break-all
}

.stroke_rect{
    fill: rgb(31, 29, 29);
}

.data_field{
    background-color: rgb(31, 29, 29);
}

.nn{
    fill: rgb(31, 29, 29);
}
.nn_sub{
    fill: rgb(31, 29, 29);
}


#predict{
    fill: rgb(31, 29, 29);
}

#image{
    /* fill: rgb(31, 29, 29); */
}

.stroke_rendered{
    fill: rgb(31, 29, 29);
}

#description{
  min-height: 400px;
}

.tooltip {	
    position: absolute;		
    display: inline-flex;	
    text-align: left;		
    /* width: 240px;					
    height: 240px;					 */
    max-width: 500px;
    padding: 2px;			
    font-family: "Helvetica", "Helvetica", monospace;	
    background: rgb(31, 29, 29);
    border: 2px solid #491d88;		
    border-radius: 6px;			
    pointer-events: none;			
}

.tooltip_shapes {	
    font-size: 10pt;
    position: absolute;		
    /* display: inline-flex;	 */
    text-align: center;
    vertical-align: middle;
    line-height: normal;	
    /* width: 294px;					 */
    /* height: 25px;					 */
    padding: 2px;			
    font-family: "Helvetica", "Helvetica", monospace;	
    background: rgb(31, 29, 29);
    border: 2px solid #491d88;		
    border-radius: 6px;			
    pointer-events: none;			
}

.tooltip_image {	
    position: absolute;
    max-width: 500px;
    max-height: 500px;
    min-width: 200px;
    min-height: 200px
}

/* .post_title,
.post,
.intro_inner section{
    max-width:750px;
    margin:0 auto}
    @font-face{
        font-family:'Metropolis';
        font-style:normal;
        font-weight:400;
        src:local("Metropolis Regular"),
        local("Metropolis-Regular"),
        url("../fonts/Metropolis-Regular.woff2") 
        format("woff2"),
        url("../fonts/Metropolis-Regular.woff") 
        format("woff")}
        @font-face{
            font-family:'Metropolis';
            font-style:normal;
            font-weight:300;
            src:
            local("Metropolis Light"),
            local("Metropolis-Light"),
            url("../fonts/Metropolis-Light.woff2") 
            format("woff2"),
            url("../fonts/Metropolis-Light.woff") 
            format("woff")}
            @font-face{
                font-family:'Metropolis';
                font-style:normal;
                font-weight:500;
                src:
                local("Metropolis Medium"),
                local("Metropolis-Medium"),
                url("../fonts/Metropolis-Medium.woff2") 
                format("woff2"),
                url("../fonts/Metropolis-Medium.woff") 
                format("woff")}
                @font-face{
                    font-family:'Cookie';
                    font-style:normal;
                    font-weight:400;
                    src:
                    local("Cookie-Regular"),
                    url("../fonts/cookie-v10-latin-regular.woff2") 
                    format("woff2"),
                    url("../fonts/cookie-v10-latin-regular.woff") 
                    format("woff")}
                    @font-face{
                        font-family:'Volkhov';
                        font-style:italic;
                        font-weight:400;
                        src:
                        local("Volkhov Italic"),
                        local("Volkhov-Italic"),
                        url("../fonts/volkhov-v11-latin-italic.woff2") 
                        format("woff2"),
                        url("../fonts/volkhov-v11-latin-italic.woff") 
                        format("woff")}
                        *{box-sizing:border-box;-webkit-appearance:none;margin:0;padding:0} */